.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__img {
    border: 1px solid #ddd;
    padding: 0.5em;
    box-sizing: border-box;
    margin: 10px 1%;
    width: 48%;

    @media screen and (min-width: 425px) {
      width: 31%;
    }

    @media screen and (min-width: 768px) {
      width: 18%;
    }
  }
}
