.main {
  padding-bottom: 100px;
  &__section-container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__title {
    color: #2e64a1;
    font-weight: 400;
  }
}
