.main-nav {
  background-color: #6da9ed;
  margin-bottom: 20px;
  // display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    &-item {
      flex: 30% 1 1;
      @media screen and (min-width: 768px) {
        flex: 0% 1 1;
      }
    }

    &-link {
      color: white;
      text-decoration: none;
      padding: 3px 6px;
      display: block;
      text-align: center;

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }

      &--active {
        background-color: #4c76a5;
      }
    }
  }
}
