.main-footer {
  background-color: #ccc;
  clear: both;
  color: #333;
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;
  &__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: all 0.25s;

    &:hover {
      width: 75px;
      height: 75px;
    }

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }
  }
}
