.testimonial {
  background-color: #ccc;
  padding: 16px;
  // width: 100%;
  margin-bottom: 1rem;
  @media screen and (min-width: 768px) {
  }

  &__title {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    display: block;
  }

  &__author {
    font-size: 10px;
    text-align: center;
    display: block;
    padding: 12px 0;
  }
}
