.testimonial {
  background-color: #ccc;
  padding: 16px;

  &__title {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    display: block;
  }

  &__author {
    font-size: 10px;
    text-align: center;
    display: block;
    margin: 12px 0;
  }
}
